<%- include('partials/header') %>
<!-- header goes here -->


<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <i class="fa-solid fa-key fa-8x"></i>
      <h1 class="text-3xl font-sans font-bold my-9">Don't keep your secrets, share them anonymously!</h1>
      <a href="/register"><button class="btn btn-outline w-36  mr-3">Register</button></a>
      <a href="login"><button class="btn btn-outline btn-primary w-36 mr-3">Login</button></a>
    </div>
  </div>
</div>

<!-- footer goes here -->
<%- include('partials/footer') %>