<%- include('partials/header') %>


<div class="flex justify-center items-center mt-[20vh]">
  <div class="card w-96 bg-[#394e6a] text-primary-content">
    <div class="card-body">
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body bg-[#cdc0b2] rounded-lg ">

          <form action="/login" method="POST">
            <div class="form-control">
              <label class="label" for="email">
                <span class="label-text">Email</span>
              </label>
              <input type="email" name="username" placeholder="usename" class="input input-bordered text-gray-950" />
            </div>
            <div class="form-control">
              <label class="label" for="password">
                <span class="label-text">Password</span>
              </label>
              <input type="password" name="password" placeholder="password" class="input input-bordered text-gray-950" />
            </div>
            <div class="form-control mt-6">
              <button class="btn btn-[#394e6a]" type="submit">Login</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>



<%- include('partials/footer') %>