<%- include('partials/header') %>


<div class="flex justify-center items-center mt-[20vh]">
  <div class="card w-96 bg-[#394e6a] text-primary-content">
    <div class="card-body">
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <div class="card-body bg-[#cdc0b2] rounded-lg ">

          <form action="/login" method="POST">
            <div class="">
              <label class="label" for="email">
                <span class="label-text">Email</span>
              </label>
              <input type="email" name="username" placeholder="usename" class="input input-bordered text-gray-950" />
            </div>
            <div class="">
              <label class="label" for="password">
                <span class="label-text">Password</span>
              </label>
              <input type="password" name="password" placeholder="password" class="input input-bordered text-gray-950" />
            </div>
            <div class="grid gap-y-2">
              <button class="btn btn-[#394e6a] mt-6" type="submit">Login</button>
              <a class=" grid" href="/auth/google/" role="button">
                <button class="btn btn-[#394e6a]" type="button">
                  <img src="/img/google.svg" class="w-6 h-6" alt="google icon"> Google
                </button>
              </a>
              <a class=" grid" href="/auth/facebook/" role="button">
                <button class="btn btn-[#394e6a]" type="button">
                  <img src="/img/facebook.svg" class="w-5 h-5 mr-1" alt="facebook icon"> Facebook
                </button>
              </a>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>



<%- include('partials/footer') %>